<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>商品追加</title>
  <link rel="stylesheet" href="/css/addItems.css" />
  <script src="javaScript/admin.js"></script>
</head>
<body>

  <div class="top-buttons">
    <a href="/admin"><button type="button" class="button">← 管理ページに戻る</button></a>
    <form action="/logout" method="post" style="margin: 0;">
      <button type="submit" class="button danger">ログアウト</button>
    </form>
  </div>

<div class="main-wrapper">
	<h2>商品追加</h2>

	<brform action="/addItems" method="post" enctype="multipart/form-data">
		<input type="hidden" name="itemid" />

		<label for="name">商品名:</label>
		<input type="text" id="name" name="name" required />

		<label for="price">商品価格:</label>
		<input type="number" id="price" name="price" required />

		<label for="genre">ジャンル:</label>
		<select id="genre" name="genre" required>
			<option value="ワイン">ワイン</option>
			<option value="ビール">ビール</option>
			<option value="ウイスキー">ウイスキー</option>
			<option value="果実酒">果実酒</option>
			<option value="日本酒">日本酒</option>
		</select>

		<label for="detail">商品詳細:</label>
		<textarea id="detail" name="detail" rows="4"></textarea>

		<label for="file">商品画像:</label>
		<input type="file" id="file" name="file" accept="image/*" onchange="previewImage(event)" />

		<br>
		<img id="preview" src="#" alt="画像プレビュー" style="max-width:300px; display:none;">
		</br>

		<button type="submit" class="button">商品追加</button>
		</form>
</div>

</body>
</html>
