<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ユーザー編集</title>
  <link rel="stylesheet" href="editUsers.css">
</head>
<body>
  <div class="container">
    <h2>ユーザー編集</h2>
    <input type="text" value="ユーザーA" placeholder="ユーザー名">
    <input type="email" value="park@mail.com" placeholder="メールアドレス">
    <input type="text" value="東京都新宿区新宿5-18-22" placeholder="住所">
    <input type="password" value="12345678" placeholder="パスワード">
    
    <button class="button">編集確定</button>
    <button class="button" style="background-color: darkred;">この商品を削除する</button>
  </div>
</body>
</html>