<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>管理画面</title>
  <link rel="stylesheet" href="manageItemsAndUsers.css">
</head>
<body>
	<h1 th:text="${you}">ようこそ</h1>
  <div class="container">	
    <h2>商品管理</h2>
    <button class="button" onclick="location.href='/addItems'">商品追加</button>

    <div class="card">
		<ul>
		  <th:block th:each="allItem : ${allItem}">
		    <li th:text="${allItem.name}"></li>
			<li th:text="${allItem.itemid}"></li>
			<li th:text="${allItem.price}"></li>
			<li th:text="${allItem.picturelink}"></li>
			<li th:text="${allItem.genre}"></li>
			<li th:text="${allItem.detail}"></li>
			<li th:text="${allItem.stock.count}"></li>
			<button class="button" th:onclick="'location.href=\'/editItems/' + ${allItem.itemid} + '\';'">編集</button>
		  </th:block>
		</ul>
        
      </div>
    </div>

    <h2>ユーザー管理</h2>

    <div class="card">
      <p>
        ユーザー名：userA<br>
        メール：test@example.com<br>
        住所：東京都新宿区<br>
        パスワード：******<br>
      </p>
      <button class="button">編集・削除</button>
    </div>
  </div>
</body>
</html>