<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>カート</title>
	<link rel="stylesheet" href="cartList.css">
</head>
<body>
	<div class="container">
		<h1>カート</h1>
		<aside class="sidebar">
		  <img src="../images/Logo.JPG" alt="ロゴ" width="140" height="70" class="logo">
		</aside>

		<input type="text" placeholder="検索バー">

		<div class="card">
			<img src="https://via.placeholder.com/80" alt="商品画像">
			<div>
				<h3>大吟醸75年</h3>
				<p>1900円</p>
			</div>
		</div>

		<div class="card">
			<img src="https://via.placeholder.com/80" alt="商品画像">
			<div>
				<h3>角ハイボール62年</h3>
				<p>800円</p>
			</div>
		</div>

		<button class="button">レジに進む</button>
	</div>
</body>

</html>