<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>最終確認</title>
	<link rel="stylesheet" href="cashRegister.css">
</head>

<body>
	<div class="container">
		<aside class="sidebar">
						      <img src="../templates/images/Logo.JPG" alt="ロゴ" width="140" height="70">
						    </aside>
		<h2>最終確認</h2>
		<div class="card">
			<p>1. 木吟醸89年 1900円<br>
				2. 角ハイボール48年 800円</p>
			<p><strong>合計: 2700円</strong></p>
		</div>
		<div class="card">
			<p>配送先:<br>
				東京都千代田区霞が関1丁目1番 国会議事堂</p>
		</div>
		<button class="button">購入を確定する</button>
	</div>
</body>

</html>