<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>商品詳細</title>
	<link rel="stylesheet" href="itemsDetail.css">
</head>

<body>
	<div class="container">
		<aside class="sidebar">
				      <img src="../templates/images/Logo.JPG" alt="ロゴ" width="140" height="70">
				    </aside>
		<h2>商品詳細ページ</h2>
		<img src="https://via.placeholder.com/150" alt="商品画像">
		<h3>商品名</h3>
		<p>1900円</p>
		<p>すごーくおいしいです。とってもおすすめ。お買い得ですよ〜。いかがですか〜？</p>
		<button class="button">カートに入れる</button>
	</div>
</body>

</html>