body {
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  background-color: #f9f6f1;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  margin-left: 200px;
}

h2 {
  margin-bottom: 20px;
}

.sidebar {
  width: 200px;
  background-color: #6e655a;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  border-right: 1px solid #333;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
}
 
.logo {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card {
  display: inline-block;
  width: 200px;
  margin: 10px;
  padding: 12px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.card img {
  max-width: 100px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 18px;
  margin: 5px 0;
}

.card p {
  font-size: 14px;
  color: #666;
}