<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>検索結果</title>
  <link rel="stylesheet" href="searchResult.css">
</head>
<body>
  <div class="container">
	<aside class="sidebar">
	  <img src="../images/Logo.JPG" alt="ロゴ" width="140" height="70" class="logo">
	</aside>
    <h2>検索結果（3件）</h2>

    <div class="card">
      <img src="https://via.placeholder.com/80" alt="商品画像">
      <div>
        <h3>商品名A</h3>
        <p>価格: 1900円</p>
      </div>
    </div>

    <div class="card">
      <img src="https://via.placeholder.com/80" alt="商品画像">
      <div>
        <h3>商品名B</h3>
        <p>価格: 2200円</p>
      </div>
    </div>

    <div class="card">
      <img src="https://via.placeholder.com/80" alt="商品画像">
      <div>
        <h3>商品名C</h3>
        <p>価格: 3500円</p>
      </div>
    </div>
  </div>
</body>
</html>