<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>最終確認</title>
	<link rel="stylesheet" th:href="@{/css/cashRegister.css}">
</head>

<body>
	<div class="container">
		
		<aside class="sidebar">
			<a th:href="@{/}">
				<img th:src="@{/images/ロゴ.jpg}" alt="ロゴ" class="logo" />
			</a>
		</aside>
		
		<h2>最終確認</h2>
		<div class="card">
			<p th:text="'合計：' + ${total} + '円'"></p>
			<p th:text="'配送先：' + ${address}"></p>
		</div>
	
		<h3>内訳</h3>
		<div th:each="orderItem : ${orderItemList}">
			<p th:text="|${orderItem.item.name} × ${orderItem.quantity} = ${orderItem.item.price * orderItem.quantity}円|">価格</p>

		</div>
		
		<form th:action="@{confirm}" method="post">	
			<button type="submit" class="button">購入を確定する</button>
		</form>	
	</div>
</body>

</html>