<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>商品詳細</title>
	<link rel="stylesheet" th:href="@{/css/itemDetail.css}">
</head>

<body>
	<div class="container">
		<aside class="sidebar">
			<a th:href="@{/}">
				<img th:src="@{/images/ロゴ.jpg}" alt="ロゴ" class="logo" />
			</a>
		</aside>
		<h2>商品詳細ページ</h2>
			<img th:src="${item.picturelink}" alt="商品画像" class="product-image">
			<h3 th:text="${item.name}">商品名</h3>
			<p th:text="${item.price}+'円'">価格</p>
			<p th:text="${item.detail}">説明文</p>
			
			<form method="post" th:action="@{/cart/add}">
				<input type="hidden" name="itemid" th:value="${item.itemid}" />
					<label for="quantity">個数：</label>
					<select name="quantity" id="quantity">
						<option th:each="i : ${#numbers.sequence(1,stock)}" 
								th:value="${i}" 
								th:text="${i}">
						</option>
					</select>	
					<input type="submit" class="button" value="カートに入れる" />
			</form>	
	</div>
</body>

</html>