body {
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  background-color: #fdfaf5;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.card {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  justify-content: space-between;
}

.card img {
  max-width: 80px;
  margin-right: 20px;
}

.button {
  background-color: #5b4425;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}