<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">


<head>
	<meta charset="UTF-8" />
	<title>Shinano</title>
	<link rel="stylesheet" th:href="@{/css/top.css}" />
</head>


<body>
	<h2 th:text="${you}">ここに表示</h2>
	<div class="container">
		
		<aside class="sidebar">
			<a th:href="@{/}">
				<img th:src="@{/images/ロゴ.jpg}" alt="ロゴ" class="logo" />
			</a>	
			<nav class="category">
				
				
				  <h3>カテゴリー</h3>
				  <div class="btn-group-vertical w-100" role="group">
				    <a th:href="@{/}"
				       class="btn btn-outline-secondary"
				       th:classappend="${selectedGenre} == null ? ' active'">
				      全て
				    </a>
				    <a th:each="g : ${genres}"
				       th:href="@{'/category/' + ${g}}"
				       class="btn btn-outline-primary mt-1"
				       th:text="${g}"
				       th:classappend="${g.equals(selectedGenre)} ? ' active'">
				    </a>
				  </div>
			
				
<!--				<h3>カテゴリー</h3>-->
<!--				<ul>-->
<!--					<li>ワイン</li>-->
<!--					<li>ビール</li>-->
<!--					<li>ウイスキー</li>-->
<!--					<li>果実酒</li>-->
<!--					<li>日本酒</li>-->
<!--					<li>test</li>-->
<!--				</ul>-->

			</nav>
		</aside>

		<main class="main-content">
			
			<header class="header">
				<div class="search-container">
					<form th:action="@{/search}" method="get">
						<input type="text" name="keywords" th:value="${keywords}"  placeholder="お酒の名前や種類を検索" class="search-bar" />
						<input type="submit" class="button" value="検索" />
					</form>	
				</div>
				
				<div class="auth-buttons">
					<a th:href="@{login}">
						<button class="auth-button">ログイン</button>
					</a>
					<a th:href="@{signup}">	
						<button class="auth-button">登録</button>
					</a>	
				</div>
			</header>

			<section class="product-list">
				<div th:each="item:${items}">
				<a class ="product-link" th:href="@{/item/{id}(id=${item.itemid})}">
				<div class="product-card">
					<img th:src="@{${item.picturelink}}" alt="商品画像" class="product-image" />
					<p th:text="${item.name}">商品名</p>
					<p th:text="${item.price + '円'}">価格</p>
				</div>
				</a>
				</div>
			</section>
			
		</main>
	</div>
</body>


</html>