<!DOCTYPE html>
<html lang="ja">
	
<head>
	<meta charset="UTF-8">
	<title>Shinano</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div class="container">
		<aside class="sidebar">
			<img src="../templates/images/Logo.JPG" alt="ロゴ" width="140px" height="70px">
			<nav class="category">
				<h3>カテゴリー</h3>
					<ul>
						<li>ワイン</li>
						<li>ビール類</li>
						<li>ウイスキー</li>
						<li>果実酒</li>
					</ul>
			</nav>
		</aside>
		<main class="main-content">
			<header class="header">
				<div class="search-container">
					<input type="text" placeholder="検索">
					<button class="search-button">検索</button>
				</div>
				<div class="auth-buttons">
					<button class="auth-button">ログイン</button>
					<button class="auth-button">登録</button>
				</div>
			</header>
			<section class="product-list">
				<div class="product-card">
					<img src="torys.png" alt="お酒の写真" class="product-image">
					<p>お酒の名前</p>
					<p>価格</p>
				</div>
				<div class="product-card"></div>
				<div class="product-card"></div>
				<div class="product-card"></div>
				<div class="product-card"></div>
				<div class="product-card"></div>
				<div class="product-card"></div>
			</section>
		</main>
	</div>
</body>
</html>